---
import Layout from '../layouts/Layout.astro';
import SportsEvents from '../components/SportsEvents.astro';
---

<Layout title="Sports Events - Live Streaming">
  <main>
    <SportsEvents />
  </main>
</Layout>